# Descision Tree ðŸŒ³

In [1]:
# For Python 2 / 3 compatability
from __future__ import print_function

In [2]:
# Toy dataset.
# Format: each row is an example.
# The last column is the label.
# The first two columns are features.
# Feel free to play with it by adding more features & examples.
# Interesting note: I've written this so the 2nd and 5th examples
# have the same features, but different labels - so we can see how the
# tree handles this case.
training_data = [
    ['Green', 3, 'Apple'],
    ['Yellow', 3, 'Apple'],
    ['Red', 1, 'Grape'],
    ['Red', 1, 'Grape'],
    ['Yellow', 3, 'Lemon'],
]

In [3]:
headers = ['color', 'diameter', 'label']

In [32]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import random
from pprint import pprint
from sklearn.utils import shuffle

In [33]:
col_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
data = pd.read_csv('Datasets\IRIS.csv', skiprows=1, header=None, names=col_names)

In [34]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [35]:
df = shuffle(data)

In [38]:
df.head()

     sepal_length  sepal_width  petal_length  petal_width          species
100           6.3          3.3           6.0          2.5   Iris-virginica
16            5.4          3.9           1.3          0.4      Iris-setosa
115           6.4          3.2           5.3          2.3   Iris-virginica
82            5.8          2.7           3.9          1.2  Iris-versicolor
63            6.1          2.9           4.7          1.4  Iris-versicolor

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [40]:
training_data, testing_data = train_test_split(data, test_size=0.2)

In [42]:
data_train=training_data.values
data_train[:5]

array([[4.9, 2.4, 3.3, 1.0, 'Iris-versicolor'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [5.5, 3.5, 1.3, 0.2, 'Iris-setosa']], dtype=object)

data pure?

In [43]:
def check_purity(data):
    return False