In [15]:
import pandas as pd
import yfinance as yf
import math
import numpy as np

In [19]:
df = yf.Ticker("MSFT").history(period="1d", interval="1m")
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-03-14 09:30:00-04:00,381.035004,381.570007,379.510010,381.035004,877470,0.0,0.0
2025-03-14 09:31:00-04:00,380.970001,381.799988,380.850006,380.980011,113092,0.0,0.0
2025-03-14 09:32:00-04:00,381.049988,381.799988,380.829987,381.494995,81654,0.0,0.0
2025-03-14 09:33:00-04:00,381.553406,382.640015,381.440002,382.470001,122978,0.0,0.0
2025-03-14 09:34:00-04:00,382.399994,382.798401,382.140015,382.429993,79213,0.0,0.0

In [20]:
df = df[['Open', 'High', 'Low', 'Close', 'Volume']]
df['H-L_pct'] = (df['High'] - df['Low'])/df['Close']*100
df['O-C_pct'] = (df['Close'] - df['Open'])/df['Open']*100
df= df[['Close', 'H-L_pct', 'O-C_pct', 'Volume']]
df.head()

                                Close   H-L_pct   O-C_pct  Volume
Datetime
2025-03-14 09:30:00-04:00  381.035004  0.540632  0.000000  877470
2025-03-14 09:31:00-04:00  380.980011  0.249352  0.002627  113092
2025-03-14 09:32:00-04:00  381.494995  0.254263  0.116785   81654
2025-03-14 09:33:00-04:00  382.470001  0.313753  0.240227  122978
2025-03-14 09:34:00-04:00  382.429993  0.172159  0.007845   79213

In [21]:
forecast_col = 'Close'
df.fillna(value=-99999, inplace=True)

In [22]:
forecast_out = int(math.ceil(0.01*len(df)))